<!-- HTML template base -->
{% extends 'core/base.html' %}

<!-- Display homepage title -->
{% block title %}Home - Wortaskog{% endblock %}

<!-- Display default homepage content -->
{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Welcome to Wortaskog!</h2>
                    <p>This is your homepage.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
