{% extends 'core/base.html' %}

{% block title %}Home - Wortaskog{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Welcome to Wortaskog!</h2>
                    <p>This is your homepage.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block year %} {{ year }} {% endblock %}
